<app-navbar></app-navbar>

<div class="container">
  <router-outlet></router-outlet>
  <!-- Aquí se cargarán los componentes dinámicamente -->
</div>

<app-search-bar (searchEvent)="onSearch($event)"></app-search-bar>

<div class="main-container">
  <app-sidebar (filterEvent)="onFilter($event)"></app-sidebar>
</div>

<div class="results-container">
  <ng-container *ngIf="selectedFilters.includes('people')">
    <app-people [searchQuery]="searchQuery"></app-people>
  </ng-container>

  <ng-container *ngIf="selectedFilters.includes('species')">
    <app-species [searchQuery]="searchQuery"></app-species>
  </ng-container>

  <ng-container *ngIf="selectedFilters.includes('vehicles')">
    <app-vehicles [searchQuery]="searchQuery"></app-vehicles>
  </ng-container>

  <ng-container *ngIf="selectedFilters.includes('films')">
    <app-films [searchQuery]="searchQuery"></app-films>
  </ng-container>
</div>

<app-footer [exportDataList]="getExportData()"></app-footer>
