<div class="films-container">
  <h2>Films</h2>
  <div class="grid-container" *ngIf="filmsList.length > 0; else noResults">
    <div class="grid-item card-style" *ngFor="let film of filmsList">
      <h3>{{ film.title }}</h3>
      <p><strong>Episode:</strong> {{ film.episode_id }}</p>
      <p><strong>Director:</strong> {{ film.director }}</p>
      <p><strong>Release Date:</strong> {{ film.release_date }}</p>
    </div>
  </div>

  <!-- If no films found -->
  <ng-template #noResults>
    <p>No films found.</p>
  </ng-template>
</div>
